.formPosts {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.formPosts__textarea {
  resize: none;
  background-color: rgb(100, 161, 218);
  min-height: 80px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #fff;
  outline: none;
  padding: 10px;
}
.formPosts__btn {
  border: none;
  background-color: rgb(100, 161, 218);
  color: #fff;
  align-self: flex-end;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}
